#register-book {
    .content {
        margin: 30px auto;
        width: 700px;

        .select-container {
            border: 1px solid var(--color-2);
            border-radius: 8px;
            padding: 40px;
            font-size: 18px;
            font-weight: 500;
            margin-top: 80px;

            .select-wrap {
                margin: 0 auto;
                width: 260px;
                padding: 50px 0;

                .select-box {
                    margin-bottom: 50px;
                    .header {
                        margin-bottom: 15px;
                    }
                }
            }

            .next {
                width: 400px;
                padding:  15px 30px;
                margin: 0 auto;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .input-box {
        margin-left: 0;

        .small {
            font-size: 13px;
            font-size: 300;
        }

        .header {
            font-weight: 500;
        }
    }
    .input-wrap {
        overflow: hidden;
        position: relative;
        height: 40px;
    }

    .error {
        border-color: red;

        &:focus {
            transition: 0.5s;
            border: 2px solid red !important;
        }
    }

    .upload-wrap {
        .header {
            padding: 2px 8px;
            font-weight: 500;
            margin-right: 5px;
        }
        .upload {
            height: 27px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;

            .upload-input {
                margin-right: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 200px;
            }

            .upload-btn {
                padding: 4px 15px;
                margin-right: 10px;
            }

            .upload-text{

                font-weight: 500;
                font-size: 12px;
            }
        }
    }

    input[type=file] {
        display: none;
    }

    textarea, input{
        padding: 10px;
    }

    .file-wrap {
        margin-right: 5px;
        width: 200px;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 2px 4px;

        .filename {
            width:100%;
        }
    }

    .btn-wrap {
        button {
            width: 340px;
        }
    }

    .img-area {
        margin-right: 60px;
        margin-bottom: 40px;

        .thumbnail-box {
            position: relative;
            width: 250px;
            height: 250px;
            border: 1px solid #999;
            border-radius: 5px;

            img {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                cursor: pointer;
            }

            .thumbnail-text {
                width: 100%;
                height: 100%;
                position:absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-1);
                font-weight: 500;
                cursor: pointer;
            }
        }
    }


}
.modal.register {
    .header {
        .em {
            font-weight: 600;
            color: var(--color-1);
        }
    }
    .content {
        margin-bottom: 50px;
    }
    button {
        width: 150px;
        margin: auto;
    }
}
