#search{
    input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        cursor: pointer;
    }
    .title-wrap {
        .title {
            font-size: 24px;
            font-weight: 700;
            margin-left: 0;
        }
    }

    #search-list {
        ul {
            flex-wrap:wrap;
        }
    }

    .filter-area {
        display: flex;
        align-items: center;
        margin-bottom: 80px;

        .filter {
            position: relative;
            width: 140px;

            font-size: 20px;
            padding: 8px 15px;
            background-color: #dedede;
            border-radius: 5px;
            margin-right: 20px;
            cursor: pointer;

            em {
                width: 15px;
                height: 10px;
                margin-left: 10px;
                position:absolute;
                right: 10px;
                top: 18px;
                background-repeat: no-repeat;
                background-color: unset;
                background-size: contain;
                background-image: url(/assets/img/arrow_down.png);
                display: inline-block;
            }
        }
    }
}
.search {
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 20px;
    width: 400px;
    height: 40px;

    button[type='submit']{
        position: absolute;
        height: 24px;
        width: 24px;
        right: 10px;
        top: 8px;
        background-image: url('/assets/img/search-glass.png');
        background-repeat: no-repeat;
        background-color: unset;
        background-size: contain;
        border: none;
        text-indent: -9999px;
        cursor: pointer;
        padding: 0;
    }
}

.search-modal {
    padding: 30px 60px;

    .close {
        top: 15px !important;
    }

    .header {
        position: absolute;
        left: 60px;
        top: 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        vertical-align: middle;
    }

    .category-box {
        width: 500px;
        padding-top: 80px;
        padding-bottom: 40px;

        flex-wrap: wrap;

        .category {
            font-size: 20px;
            font-weight: 600;
            display: inline-block;
            background-color: var(--color-3);
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 27px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .category.selected {
            background-color: var(--color-1);
            color: white;
        }
    }

    .btn-bottom {
        font-size: 20px !important;
        font-weight: 600;
    }

    .filter-box {
        width: 300px;
        margin-top: 60px;
        margin-bottom: 30px;

        .radio-container {
            font-size: 20px;
        }
    }
}
