<%- include("../../templates/head"); %>

<div class="panel">
    <div class="panel-header">
        <h2><%=book.title%> pick하기</h2>
    </div>
    <div class="panel-body padTopNone">
        <form method="POST" action="/admin/book/<%=book.id%>/picked">
            <div class="form-group">
                <label>rank</label>
                <input type="number" class="form-control" name="rank" value="">
            </div>
            <button type="submit" class="btn btn-primary">pick하기</button>
        </form>
    </div>
</div>
<%- include("../../templates/foot"); %>