<!DOCTYPE html>
<html>
  <head>
    <title>rignu</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ringu</h1>
    <p>Welcome to ringu</p>
  </body>
</html>
