<%- include("../templates/head"); %>

<div class="panel">
    <div class="panel-header">
        <h2>카테고리 생성</h2>
    </div>
    <div class="panel-body padTopNone">
        <form method="POST" action="/admin/category/">
            <div class="form-group">
                <label>name</label>
                <input type="text" class="form-control" name="name" value="">
            </div>
            <button type="submit" class="btn btn-primary">추가하기</button>
        </form>
    </div>
</div>
<%- include("../templates/foot"); %>