<%- include("../templates/head"); %>

<style>.head { display: none !important; }</style>


<br /><br />

<div class="panel" style="width: 400px; margin: auto;">
    <div class="panel-header text-center">
        <h1>로그인</h1>
    </div>
    <!--/.panel-header-->

    <form method="POST" action="/admin/login/attempt/">
        <input type="hidden" name="rurl" value="<%=rurl%>" />
        <div class="panel-body padTopNone">
            <% if (attempt) { %>
                <div class="row">
                    <span class="label label-danger" style="display: block;">이메일/비밀번호 일치하지 않습니다</span>
                </div>
                <!--/.row-->
                <br />
            <% } %>

            <div class="row">
                <label>이메일</label>
                <input type="email" class="input" name="email" placeholder="아이디를 입력하시오."/>
            </div>
            <!--/.row-->
            <br />
            <div class="row">
                <label>비밀번호</label>
                <input type="password" class="input" name="password" placeholder="비밀번호를 입력하시오."/>
            </div>
            <!--/.row-->
            <br />
            <div class="row text-center">
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>
            <!--/.row-->
        </div>
        <!--/.panel-body-->
    </form>
</div>
<!--/.panel-->

<script> $(function() { $(".head").html(""); }); </script>

<%- include("../templates/foot"); %>
