<% include ../templates/header.ejs %>
    <div class="container" id="masonry_container">

    </div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>

<% include ../templates/footer.ejs %>
