<%- include('head'); %>

<div class="row">
    <div class="col-lg-12">
        <h2 id="api_login_email">로그인 (이메일)</h2>
        <form method="POST" action="/api/auth/login/" onsubmit="api_login_email(this); return false;">
            <div class="form-group">
                <label>Email address</label>
                <input type="text" class="form-control" name="email" value="trop100@naver.com" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="password" value="1q2w3e4r">
            </div>
            <div class="form-group">
                <label>Result</label>
                <textarea class="form-control" readonly></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            var api_login_email = function(f) {
                var form = $(f);
                var payload = {
                    "email" : form.find("input[name=email]").val(),
                    "password" : form.find("input[name=password]").val()
                };
                $.post(form.attr("action"), payload, function(result) { form.find("textarea").val(JSON.stringify(result)); }).fail(function(result) {
                    form.find("textarea").val(JSON.stringify(result));
                });
            };
        </script>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr />
        <h2 id="api_member_password_update">비밀번호 (변경하기)</h2>
        <form method="POST" action="/api/member/password/update/" onsubmit="api_member_password_update(this); return false;">
            <div class="form-group">
                <label>Sess ID</label>
                <input type="text" class="form-control" name="sess_id" value="4c88f4d2df15406beefec4b6d27ec2d7b347e2a26f685013e7e47b00ee00b29479a70527487ccb605eaa2be985b3bdf06569dd97ab5321236840251e31782f94da3bd20e01315a995f6c37937d6d4b5dcb0c06ba07cf956fdff459e0a2ada15b93" />
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="text" class="form-control" name="password" value="newpwd">
            </div>
            <div class="form-group">
                <label>Result</label>
                <textarea class="form-control" readonly></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script>
            var api_member_password_update = function(f) {
                var form = $(f);
                var payload = {
                    "sess_id" : form.find("input[name=sess_id]").val(),
                    "password" : form.find("input[name=password]").val()
                };
                $.post(form.attr("action"), payload, function(result) { form.find("textarea").val(JSON.stringify(result)); }).fail(function(result) {
                    form.find("textarea").val(JSON.stringify(result));
                });
            };
        </script>
    </div>
</div>
<form method="GET" action="/api/auth/google" class="panel-options input-inline">
    <button type="submit" class="btn btn-success" style="height: 23px;">구글 인증</button>
</form>
<form method="GET" action="/api/auth/naver" class="panel-options input-inline">
    <button type="submit" class="btn btn-success" style="height: 23px;">네이버 인증</button>
</form>
<form method="GET" action="/api/auth/kakao" class="panel-options input-inline">
    <button type="submit" class="btn btn-success" style="height: 23px;">카카오 인증</button>
</form>
<form method="GET" action="/api/auth/facebook" class="panel-options input-inline">
    <button type="submit" class="btn btn-success" style="height: 23px;">페이스북 인증</button>
</form>
<%- include('foot'); %>
