<%- include('head'); %>


<div class="row">
    <div class="col-lg-12">
        <hr />
        <h2 id="api_upload">img upload</h2>
        <form method="POST" action="/api/upload/" enctype="multipart/form-data" >
            <div class="form-group">
                <label>Img_file</label>
                <input type="file" class="form-control" name="file" value = "">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include('foot'); %>
