.payment {
    .container {
        position:relative;
        width: 100%;
        height: 100%;

        .content {
            position:absolute;
            top: 50px;
            z-index: 2;

            .header {
                margin-bottom: 30px;
                display:flex;
                align-items: flex-end;

                .total {
                    min-width: 200px;
                    font-size: 40px;
                    font-weight: 500;
                    margin-right: 20px;
                    text-align: right;
                }

                .sub {
                    font-size: 18px;
                    font-weight: 400;
                    color: #828282;
                }
            }

            table {
                tr {
                    height: 40px;

                    td {
                        padding: 10px;
                    }

                    td:nth-child(1) {
                        width: 200px;
                        font-size: 24px;
                        font-weight: 500;
                        text-align: right;
                    }

                    td:nth-child(3) {
                        width: 300px;
                        font-size: 18px;
                        font-weight: 500;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: left;
                        overflow: hidden;
                    }

                    td:nth-child(4) {
                        font-size: 15px;
                        font-weight: 400;
                        text-align: right;
                        color: #828282;
                    }

                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .box {
        .header {
            font-weight: 400;
            font-size: 18px;
            color: #808080;
        }
        .value {
            font-weight: 600;
            line-height: 100%;
        }
    }
    .information {
        margin-top: 30px;
        margin-bottom: 80px;
        height: 140px;
        width: 100%;
        display: flex;

        .author {
            display:flex;
            width: 50%;
            margin: 0 50px;

            .profile {
                width: 140px;
                height: 140px;
                overflow: hidden;
                border-radius: 100%;
                margin: 0 40px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                padding-top: 40px;
                .nickname {
                    font-weight: 600;
                    font-size: 30px;
                }
                .account {
                    font-weight: 400;
                    font-size: 16px;
                }

            }
        }

        .stats {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            margin: 0 50px;

            .box {
                padding: 20px;
                border-radius: 10px;
                width: 32%;
                background-color: #f2f2f2;
                margin-right: 10px;

                .header {
                    margin-bottom: 20px;
                }

                .value {
                    font-size: 30px;
                }
            }
        }
    }

    .revenue {
        display: flex;
        padding: 20px 40px;
        height: 500px;
        box-shadow: 0 0 50px rgba(0,0,0,0.15);

        .withdraw {
            height: 100%;
            width: 300px;
            padding: 20px;

            .box {
                padding: 20px 0;
                height: 50%;

                .header {
                    margin-bottom: 20px;
                }
                .value {
                    font-size: 35px;
                    margin-bottom: 30px;
                }
                button {
                    margin: 0 5px;
                    padding: 0;
                    width: 150px;
                    height: 40px;
                    font-size: 18px;
                }
            }
        }
        .chart {
            width: 100%;
            margin: 10px 0 10px 80px;
            .menu {
                display: flex;
                justify-content: space-between;

                .filter {
                    display: flex;

                    button {
                        margin-right: 20px;
                        width: 110px;
                        height: 40px;
                        border-radius: 20px;
                        background-color: #f2f2f2;
                        border: 0;
                        font-size: 16px;
                        font-weight: 400;
                    }

                    button.active {
                        background-color: var(--color-3);
                        color: var(--color-1);
                        font-weight: 600;
                    }
                }
            }

            .canvas {
                margin-top: 20px;
                width: 100%;
                height: 390px;
            }
        }
    }

    .history {
        .react-tabs {
            margin: 40px 110px;

            ul {
                border-bottom: 1px solid #c2c2c2;

                li {
                    cursor: pointer;
                    display: inline-block;
                    border: 0;
                    position: relative;
                    bottom: -3px;
                    padding: 30px 0;
                    margin-right: 40px;
                    font-size: 21px;
                }

                li.react-tabs__tab--selected {
                    font-weight: 600;
                    border-bottom: 5px solid var(--color-1);

                }
            }

            .react-tabs__tab-panel {
                margin: 30px;
                .table-box {
                    padding: 0 20px;
                    border: 1px solid #c2c2c2;
                    table {
                        width:100%;

                        tr {
                            border-bottom: 1px solid var(--color-1);
                        }
                        tr:nth-last-child(1) {
                            border-bottom: 0;
                        }
                        td {
                            white-space: nowrap;
                            height: 100px;

                            .price {
                                font-size: 21px;
                                font-weight: 500;
                            }

                            .order {
                                font-size: 15px;
                                font-weight: 400;

                                span {
                                    color: #828282;
                                    margin-right: 40px;
                                }
                            }
                        }
                        td:nth-child(1) {
                            display:inline-block;
                            font-weight: 500;
                            font-size: 20px;
                            text-align: center;
                            width: 110px;
                            padding: 35px 0;
                        }

                        td:nth-child(2) {
                            width: 100%;
                            padding: 0 30px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    hr {
        color: var(--color-1);
        border-color: var(--color-1);
        background-color: var(--color-1);
        opacity: 0.5;
    }
}

.withdraw-modal {
    .header {
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 24px;
        font-weight: 500;
    }

    .box {
        width: 400px;
        height: 220px;

        table {
            width: 100%;
            table-layout: fixed;
            position: relative;
            top: 50px;
            td {
                height: 50px;
                font-weight: 400;
                font-size: 18px;
                padding-right: 5px;
            }
            td:nth-child(1) {
                width: 150px;
                color: #808080;
            }

            td:nth-child(2) {
                width: 50%;
                text-align: right;

                input {
                    height: 40px;
                    text-align: right;
                    border: 2px solid #aaa;
                    font-weight: 400;
                    font-size: 18px;
                    padding: 0;
                    padding-right: 5px;
                }
            }
        }

        button {
            font-size: 16px;
            position: absolute;
            right: 90px;
            bottom: 25px;
        }
    }
}
