.book-area {
    margin-bottom: 30px;

    .container {
        padding: 0;
        display: flex;

        .book-box {
            flex: 0 1 auto;
            margin-right: 20px;
            margin-bottom: 40px;
        }

        .book-box:last-child {
            margin-right: 0;
        }
    }
}

.book-box.ser {
    &:focus, &:hover {
        box-shadow: 0 0 1px 1px var(--color-ser);
    }

    .book-type-wrap {
        background-color: var(--color-ser);
    }
    .thumbnail-box {
        border: 10px solid var(--color-ser-bg);
    }
}

.book-box.ser-ed {
    &:focus, &:hover {
        box-shadow: 0 0 1px 1px var(--color-ser-ed);
    }

    .book-type-wrap {
        background-color: var(--color-ser-ed);
    }
    .thumbnail-box {
        border: 10px solid var(--color-ser-ed-bg);
    }
}

.book-box.pub {
    &:focus, &:hover {
        box-shadow: 0 0 1px 1px var(--color-pub);
    }

    .book-type-wrap {
        background-color: var(--color-pub);
    }
    .thumbnail-box {
        border: 10px solid var(--color-pub-bg);
    }
}

.book-box.wait {
    opacity: 0.7;

    .thumbnail-box {
        border: 10px solid #e9e9e9;
    }

    .wait {
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        text-align:center;
        padding: 20px 0;
    }
}

.book-box {
    position: relative;
    width: 255px;

    .btn-wrap {
        margin: 0 !important;
    }

    .book-type-wrap {
        position: absolute;
        top: -10px;
        height: 20px;
        z-index: 2;
        padding: 0 20px;
        border-radius: 5px 5px 0 0;

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: white;
        }
    }

    .thumbnail-box {
        position: relative;
        height: 220px;

        .favorite-box {
            position: absolute;
            width: 35px;
            height: 35px;
            top: 10px;
            right: 15px;
            z-index: 10;
            border-radius: 4px;
            transition: 0.5s;

            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }

            .favorite-btn {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                padding: 0;

                .favorite {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 25px;
                    height: 25px;
                    background-image: url("/assets/img/heart_empty.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: 11;

                    &.on {
                      background-image: url("/assets/img/heart.png");
                    }
                }
            }
        }


        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            font-size: 15px;
            margin: 10px;
        }

        .img-area {
            margin: 10px 10px 5px 10px;
            position: relative;
            height: 150px;

            img {
                border-radius: 6px;
                box-shadow: 0 0 2px rgba(0,0,0,0.2);
                width: 100%;
                height: 150px;
            }
        }
    }

    .book-info-box {
        border: 2px solid #eee;
        font-weight: 500;

        .book-info {
            padding: 10px 15px;
            border-top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            cursor: pointer;

            .price {
                font-size: 20px;
            }

            .details {
                .author-info {
                    font-size: 14px;
                }

                .review-info {
                    text-align: right;
                    font-size: 14px;
                }

                .author-label {
                    color: #b3b3b3;
                }
            }
        }

        .btn-wrap {
            button {
                font-size: 14px;
                font-weight: 500;
                margin: 10px;
                padding: 5px 0;
                border: 0;
                background-color: #f2f2f2;

                &:hover, &:focus {
                    box-shadow: rgba(159, 182, 255, 0.6) 0px 0px 1px 2px;
                }
            }
        }
    }


}
